<table>
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nome</th>
      <th scope="col">Email</th>
      <th scope="col">Celular</th>
    </tr>
  </thead>
  <tbody>
    <% for ( let index = 1; index < 12; index++){ %> <% if (index % 3 == 0) { %>
    <tr>
      <td scope="col"><%= index %></td>
      <td>Nome</td>
      <td>Email</td>
      <td>Celular</td>
    </tr>
    <% }%> <%} %>
  </tbody>
</table>
